<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <timestamp key="byDay" datePattern="yyyy-MM-dd" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %logger{0}:%X{line} [%d{yyyy-MM-dd HH:mm:ss.SSS}] | %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/var/log/hauth/hauth-${byDay}.log</file>
    <append>false</append>
    <encoder>
      <pattern>[%level] %logger{0}:%X{line} [%d{yyyy-MM-dd HH:mm:ss.SSS}] | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="io.vertx" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="io.swagger.v3.parser" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="ERROR">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
